* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: CoreSansDS15Thin;
  src: url("assets/font/CoreSansDS15Thin.ttf");
}
@font-face {
  font-family: CoreSansDS35Regular;
  src: url("assets/font/CoreSansDS35Regular.ttf");
}
@font-face {
  font-family: CoreSansDS45Medium;
  src: url("assets/font/CoreSansDS45Medium.ttf");
}
body {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background: url("assets/image/pawel.jpg") no-repeat center/ cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  user-select: none;
}
body > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 500px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  
}
#image {
  background: url("assets/image/grok.jpg") no-repeat center / cover;
  width: 80px;
  height: 80px;
  border-radius: 30%;
}
div > h1 {
  font-size: 2em;
  font-family: CoreSansDS45Medium;
}
div > p {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-self: flex-start;
  padding: 0 20px;
  font-size: 1.2em;
  font-family: CoreSansDS15Thin;
}
div > p > span {
  display: block;
}
div > #contact {
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: -50%;
  font-family: CoreSansDS35Regular;
  border: 1px solid rgba(255, 255, 255, 0.6);
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  font-size: 1em;
  transition: background 0.1s linear;
}
div > #contact:hover {
  background: rgba(255, 255, 255, 0.2);
  border: none;
}
div > #contact:active {
  background: rgba(255, 255, 255, 0.2);
  border: none;
}
div > #contact > svg {
  fill: rgba(255, 255, 255, 0.5);
}
#social {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
#social > a {
  width: 24px;
  height: 24px;
}
@media (orientation : landscape), (min-width: 767px) {
   body {
     height: 200vh;
     height: 200dvh;
   }
  body > div {
    flex-flow: row wrap;
  }
  #image {
    border-radius: 50px;
    width: 200px;
    height: 200px;
  }
  div > #contact {
    margin-left: -25%;
  }
}